body {
    background-color: #f0f8ff; /* Un albastru foarte deschis */
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    color: darkblue;
}

p {
    color: blue;
    font-size: 20px;
}